html {
    background-color: rgb(244, 241, 233);
}

.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    text-align: center;
}

#info {
    text-align: left;
}

#oxford {
    text-align: center;
    padding: 86px;
}

#viewpoint {
    text-align: center;
}

#touchstone {
    font-weight:bold;
}

#teachingvid {
    padding: 20px;
    text-align: center;
}

h4 {
    text-decoration:rgb(134, 0, 0) underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(32, 107, 0);
    text-decoration: underline;
}

h2 {
    color: rgb(106, 8, 197);
}

#intro {
    padding: 20px;
}

#classes {
    padding: 20px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  border: 5px solid black;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
} 